body {
   background-image: url("assets/hert-niks-tyI1b2abVKE-unsplash.jpg");
   height:
}  
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
#box1 {
    background-color: white;
    border: 5px solid black;
    width: 500px;
    font-size: 50px;
    border-radius: 15px;
}
#startBtn {
    background-color: blue;
    color:white;
    border-radius: 15px;
    margin-top:auto;
}
input[type=text]{
    
   height: 10
    padding: 20%;
    margin: 10px 0;
    border: 5px solid black;
    border-radius: 25px;
}
