body{ 
    background-image: url("assets/hert-niks-tyI1b2abVKE-unsplash.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}   
#startup{
    font-family:fantasy;
    font-size: 45px;
}
#dialog1{
    font-family:fantasy;
    font-size: 45px;
    outline:2px red;
}

input[type=text]{
    
   height: 10px;
    padding: 20px;
    margin: 10px 0;
    border: 5px solid black;
    border-radius: 25px;
    text-transform:uppercase;

}



.continue{
    background-color: red;
    color:white;
    margin: 20px;
    font-size: 18px;
    border-radius:15px;
    margin-top: auto;
    height: 45px;
    width: 180px;
}
        